.paginationWrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem ;
  padding: 1rem 0;

  button {
    width: 2.2rem;
    margin: 0;
    padding: 0.5rem;
    border: none;
    background: none;
    font-size: 0.6rem;
    color: rgba(0, 0, 255, 0.61);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;

    &:disabled {
      background-color: rgb(209, 209, 209);
      color: rgb(48, 48, 255);
    }

    &:not(.selected):not(:disabled):hover {
      background-color: rgb(200, 200, 200);
    }
  }

  .selected {
    color: rgb(255, 255, 255);
    background-color: rgb(74, 74, 226);
  }
  
}

